* {
  overflow: auto;
}

body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 35%), rgba(0, 0, 0, 35%)), url('eau.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 50px;
  font-family: Arial;
  font-size: 30px;
  overflow: visible;
  color:rgb(255, 199, 109);
}

h2 {
  font-size: 30px;
}

.centre {
  text-align: center;
  width: 100%;
}

th.volume {
text-align: right;
}

th.m3 {
  text-align: left;
  padding-left: 20px;
}

th {
  font-size: 80px;
}

div.tableau {  
  background-color: rgba(78,176,213, 20%);
  position: relative;
  text-align: center;
  width: 100%;
  color: rgb(255, 199, 109);
  margin: 0px 20px 0px 20px;
  box-shadow: 0px 0px 20px 8px #23272cc0;
  display: inline-block;
  font-weight: bold;
  overflow: visible;
  padding: 0px 2px 0px 2px;
  height: max-content;
}

